/* 6. Universal Selector */
* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.external {
    color: yellow;
}

/* 7. Type Selector */
h1 {
    font-size: 32px;
}

/* 8. ID Selector */
#h2-uppercase {
    text-transform: uppercase;
}

/* 9. Class Selector */
.language-list li {
    background-color: lightgreen;
}

/* 10. Attribute Selector */
ol[type] li {
    border-width: 1px;
    border-style: solid;
    border-color: lightblue;
    width: 90%;
}

/* 11. Adjacent Sibling Selector */
img + ul {
    list-style-type: none;
}

/* 12. Descendant Selector */
section img {
    height: 100px;
    width: 100px;
    border-radius: 150px;
}

/* 13. Generic Sibling Selector */
ul ~ p {
    text-align: center;
}

/* Child Selector */
body > section > ul > li {
    letter-spacing: 10px;
}